html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.main {
    padding: 24px;
    font-family: "Carrois Gothic SC";
    background-color: #f6f7eb;
    height: 100%;
    color: #21475b;
}

.main h1 {
    font-size: 5em;
    font-family: "Rubik Mono One";
}

.main p {
    font-size: 2em;
}

.footer {
    background-color: #b4ebca;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.footertext {
    font-family: "Rubik Mono One";
}

.fontawesomefooter {
    font-size: 2em;
    margin: 5px;
    color: #5c415d;
}